/* styles.css */

/* Add styles here to customize the appearance of your app */

textarea {
    position: absolute;
    top: 500px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 500px);
}
